* { 
  margin: 0;
  padding: 0; 
  font-family: "Palatino Linotype", "Georgia", serif;
  outline: none;
  transition: color .15s, border-color .15s, background-color .15s;
}
body { 
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.primary-output {
  display: block;
  width: 50%;
  border: 3px solid rgba(255, 255, 255, .3);
  background: #D4D7A4;
  min-height: 5rem;
  color: #525252;
  padding: 10px;
  font-size: 24px;
  margin: 2rem 0;
}


input {
  display: block;
  width: 50%;
  height: 60px;
  margin: 2rem 0;
  border: 3px solid rgba(255, 255, 255, .3);
  font-size: 20px;
  background: #7C5F83;
  color: #FFF;
  padding: 10px;
  text-align: center;
  transition: color .15s, border-color .15s;
  letter-spacing: .1rem;
}
input:placeholder-shown {
  letter-spacing: .3rem;
  text-transform: uppercase;
}
input:focus, input:active {
  border-color: rgba(255,255,255,.7);
}